body {
    font-family: 'Arial', sans-serif;
    background-color: transparent; /* Fundo transparente */
}

.widget-contato {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.icone {
    display: inline-block;
    padding: 10px;
    border-radius: 8px; /* Bordas ligeiramente arredondadas */
    color: #a22; /* Vermelho do seu menu */
    text-decoration: none;
    font-size: 24px;
    background-color: transparent; /* Fundo transparente */
}

.icone:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Efeito suave ao passar o mouse */
}

/* Seletor de idioma */
.language-selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.language-icon {
    padding: 5px 10px;
    border-radius: 8px; /* Bordas ligeiramente arredondadas */
    color: #a22; /* Vermelho do seu menu */
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent; /* Fundo transparente */
}

.language-icon:hover {
    color: #d33; /* Vermelho mais claro no hover */
}

/* Cores personalizadas para ícones de contato específicos, se necessário */
.whatsapp { color: #a22; }
.instagram { color: #a22; }
.localizacao { color: #a22; }
.telefone { color: #a22; }
